* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  position: relative;
}

section {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

#canvas-elem::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/public/background-m.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}
#sec-1 {
  position: relative;
 
  --gap: 5rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    padding-top: 3.4rem;

    .nav-elem:nth-child(2){
      i{
        color: red;
      }
    }
    svg{
      width: 100%;
      height: 100%;
      max-width: 5rem;

    }
  }

  .middle{
    display: flex;
    gap: var(--gap);

    .left, .right{
      width: 50%;
    }

    .left{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 7rem;
    }

    h1{
      font-size: 5rem;
      line-height: 0.8;
      text-align: right;
    }
  }
  .bottom{
    display: flex;
    gap: var(--gap);


    .left, .right{
      width: 50%;
    }

    .right{
      p{
        font-weight: 200;
        line-height: 1.5;
      }
    }
  }

  .first-line{
    width: 35rem;
    background-color: rgba(255, 0, 0, 0.351);
    height: 1px;
    position: absolute;
    transform: rotate(45deg) translate(0,-17rem);
    
  }
  .secound-line{
    width: 10rem;
    background-color: rgba(255, 0, 0, 0.351);
    height: 1px;
    position: absolute;
    transform: rotate(135deg);
    top: 28%;
    right: 12%;
    
  }
}

#sec-2{
  .titles{
    display: flex;
    flex-direction: column;
    padding-left: 17rem;
    margin-block: 2rem;

    .title{
      display: flex;
      gap: 4rem;
      opacity: 0.3;
      padding-block: 1rem;
      cursor: pointer;
      transition: all 0.3s linear;


      h1{
        font-size: 4.5rem;
        font-weight: 100;
        line-height: 1;

      }
      small{
        margin-top: 0.6rem;
        font-size: 0.5rem
      }
    }

    .title:hover{
      opacity: 1;
      cursor: pointer;  
  }
}
}
main:has(#sec-2 .title:hover) #canvas-elem::after{
  opacity: 0;
}
.images{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

main:has(#sec-2 .title[img-title="Tommorowland"]:hover) .images #tommorowland{
  opacity: 1;
  background-color: rgba(6, 6, 38, 0.753);
}
main:has(#sec-2 .title[img-title="Navy Pier"]:hover) .images #navy-pire{
  opacity: 1;
  background-color: rgba(14, 14, 67, 0.753);
}
main:has(#sec-2 .title[img-title="MSI Chicago"]:hover) .images #msi-chicago{
  opacity: 1;
  background-color: rgba(14, 14, 67, 0.753);
}
main:has(#sec-2 .title[img-title="Phone"]:hover) .images #phone{
  opacity: 1;   
  background-color: rgba(14, 14, 67, 0.753);
}
main:has(#sec-2 .title[img-title="KIKK Festival 2018"]:hover) .images #kikk{
  opacity: 1;   
  background-color: rgba(4, 4, 121, 0.753);
}
main:has(#sec-2 .title[img-title="The Kennedy Center"]:hover) .images #kennedy{
  opacity: 1;   
  background-color: rgba(14, 14, 67, 0.753);
}
main:has(#sec-2 .title[img-title="Royal Opera Of Wallonia"]:hover) .images #opera{
  opacity: 1;   
  background-color: rgba(255, 0, 0, 0.467);
} 
